/* Universal styles */

html {
  font-size: 14px;
  font-family: "Open-sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/* Bootstrap overrides */

.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.4rem;
  border: 0;
  transition: 0.5s box-shadow;
  padding: 1.3rem 0;
}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.navbar .nav > li {
  font-weight: bold;
  font-size: 1.1rem;
}

.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 200;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

/* Non Bootstrap Styles */

.relative-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 2.8rem;
  top: -16rem;
}

.categories h3 {
  color: #399bd1;
}

.categories ul li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
  list-style: none;
}

.featured-project h2 {
  padding-left: 15px;
}

.featured-project .image-container {
/*  height: 19rem; */
  margin-top: 20px;
}

.projects {
  margin-top: 1.4rem;
  margin-bottom: 5.85rem;
}

.projects h2 {
  padding-left: 15px;
}

footer {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

footer strong {
  display: inline-block;
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

footer p {
  max-width: 42rem;
  margin: auto;
}

footer a{
  margin-top: 3rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

@media only screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}
